fastapi
uvicorn[standard]
python-multipart
torch==2.0.1
signwriting-translation @ git+https://github.com/sign-language-processing/signwriting-translation.git
requests
python-dotenv
git+https://github.com/openai/whisper.git
